.navbar{
    height: 30px;
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-style: bold;
    font-weight: 600;
    margin: 20px 20px 0 20px;
    padding: 10px;
    font-size: 18px;
}

.currencies{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}