.navbar{
    height: 30px;
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-style: bold;
    font-weight: 600;
    margin: 20px 20px 0 20px;
    padding: 10px;
    font-size: 18px;
}

.mybank{
    display: flex;
    justify-content: left;
    align-items: center;
}

.currencies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin: 0 0 0 80px;
}

.menuIcons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 150px;
}

.menuIcons li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}